In [2]:
import pandas as pd

import numpy as np

# Import libraries for data visualization
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

from statsmodels.graphics.gofplots import ProbPlot

# Import libraries for building linear regression model
from statsmodels.formula.api import ols

import statsmodels.api as sm

from sklearn.linear_model import LinearRegression

# Import library for preparing data
from sklearn.model_selection import train_test_split

# Import library for data preprocessing
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings("ignore")

In [5]:
dataCat = pd.read_csv('dataCategorical.csv')
dataNum = pd.read_csv('dataNumeric.csv')
dataOrd = pd.read_csv('dataOrdinal.csv')

In [48]:

dataCat['DIABETE3'] = pd.Categorical(dataCat.DIABETE3)
#dataCat.set_index('PERSONID', inplace = True) # making the 'PERSONID' the index column
catVars =['_RACE','MSCODE','FLUSHOT6','EMPLOY1','SEX','MARITAL','CVDCRHD4','HLTHCVR1','CHCKIDNY','USEEQUIP','_TOTINDA','ADDEPEV2','RENTHOM1','EXERANY2','BLIND','DECIDE','HLTHPLN1', 'DIABETE3.1','_STATE','ASTHMA3','MARITAL.1'] 
dataCat[catVars] = dataCat[catVars].astype('category') # converting the above listed variables to categorical vars.
print(dataCat.info())
print(dataNum.info())
print(dataOrd.info())
#dataCat.drop(columns ='PERSONID', inplace =True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 355467 to 168122
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DIABETE3    5000 non-null   category
 1   _RACE       4997 non-null   category
 2   MSCODE      3187 non-null   category
 3   FLUSHOT6    4762 non-null   category
 4   EMPLOY1     4981 non-null   category
 5   SEX         5000 non-null   category
 6   MARITAL     4990 non-null   category
 7   CVDCRHD4    5000 non-null   category
 8   HLTHCVR1    3318 non-null   category
 9   CHCKIDNY    5000 non-null   category
 10  USEEQUIP    4837 non-null   category
 11  _TOTINDA    5000 non-null   category
 12  ADDEPEV2    5000 non-null   category
 13  RENTHOM1    4898 non-null   category
 14  EXERANY2    5000 non-null   category
 15  BLIND       4830 non-null   category
 16  DECIDE      4829 non-null   category
 17  HLTHPLN1    5000 non-null   category
 18  DIABETE3.1  5000 non-null   category
 19  _STATE      5000 non-null   category
 20  ASTHMA3     5000 non-null   category
 21  MARITAL.1   4990 non-null   category
dtypes: category(22)
memory usage: 153.8 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PERSONID  5000 non-null   int64
 1   DIABETE3  5000 non-null   float64
 2   NUMADULT  3240 non-null   float64
 3   CHILDREN  4988 non-null   float64
 4   WEIGHT2   4950 non-null   float64
 5   DRVISITS  3567 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 234.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DIABETE3  5000 non-null   category
 1   GENHLTH   5000 non-null   category
 2   _AGEG5YR  5000 non-null   category
 3   _BMI5CAT  4681 non-null   category
 4   CHECKUP1  5000 non-null   category
 5   INCOME2   4962 non-null   category
 6   _EDUCAG   5000 non-null   category
 7   SLEPTIM1  5000 non-null   category
 8   MENTHLTH  5000 non-null   category
 9   _SMOKER3  5000 non-null   category
dtypes: category(10)
memory usage: 53.5 KB
None

In [38]:
ordVars =['DIABETE3','GENHLTH','_AGEG5YR','_BMI5CAT','CHECKUP1','INCOME2','_EDUCAG','SLEPTIM1','MENTHLTH','_SMOKER3']
dataOrd[ordVars] = dataOrd[ordVars].astype('category')
dataOrd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PERSONID  5000 non-null   int64
 1   DIABETE3  5000 non-null   category
 2   GENHLTH   5000 non-null   category
 3   _AGEG5YR  5000 non-null   category
 4   _BMI5CAT  4681 non-null   category
 5   CHECKUP1  5000 non-null   category
 6   INCOME2   4962 non-null   category
 7   _EDUCAG   5000 non-null   category
 8   SLEPTIM1  5000 non-null   category
 9   MENTHLTH  5000 non-null   category
 10  _SMOKER3  5000 non-null   category
dtypes: category(10), int64(1)
memory usage: 92.5 KB

In [50]:
#dataOrd.drop(columns ='PERSONID', inplace =True)
dataOrd.info()
dataNum.drop(columns ='PERSONID', inplace =True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DIABETE3  5000 non-null   category
 1   GENHLTH   5000 non-null   category
 2   _AGEG5YR  5000 non-null   category
 3   _BMI5CAT  4681 non-null   category
 4   CHECKUP1  5000 non-null   category
 5   INCOME2   4962 non-null   category
 6   _EDUCAG   5000 non-null   category
 7   SLEPTIM1  5000 non-null   category
 8   MENTHLTH  5000 non-null   category
 9   _SMOKER3  5000 non-null   category
dtypes: category(10)
memory usage: 53.5 KB

In [80]:
'''
dataOrd.info()
dataCat.info()
dataNum.info() '''
summ=dataCat.value_counts()
for string(i) in summ:
    print(i.value_counts())

SyntaxError: cannot assign to function call (Temp/ipykernel_17832/2768720160.py, line 6)

In [56]:
cat_num = dataCat.merge(dataOrd, how ='inner')
allData = cat_num.merge(dataNum, how ='inner')
allData.info()
allData.corr()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _RACE       0 non-null      category
 1   MSCODE      0 non-null      category
 2   FLUSHOT6    0 non-null      category
 3   EMPLOY1     0 non-null      category
 4   SEX         0 non-null      category
 5   MARITAL     0 non-null      category
 6   CVDCRHD4    0 non-null      category
 7   HLTHCVR1    0 non-null      category
 8   CHCKIDNY    0 non-null      category
 9   USEEQUIP    0 non-null      category
 10  _TOTINDA    0 non-null      category
 11  ADDEPEV2    0 non-null      category
 12  RENTHOM1    0 non-null      category
 13  EXERANY2    0 non-null      category
 14  BLIND       0 non-null      category
 15  DECIDE      0 non-null      category
 16  HLTHPLN1    0 non-null      category
 17  DIABETE3.1  0 non-null      category
 18  _STATE      0 non-null      category
 19  ASTHMA3     0 non-null      category
 20  MARITAL.1   0 non-null      category
 21  GENHLTH     0 non-null      category
 22  _AGEG5YR    0 non-null      category
 23  _BMI5CAT    0 non-null      category
 24  CHECKUP1    0 non-null      category
 25  INCOME2     0 non-null      category
 26  _EDUCAG     0 non-null      category
 27  SLEPTIM1    0 non-null      category
 28  MENTHLTH    0 non-null      category
 29  _SMOKER3    0 non-null      category
 30  DIABETE3    0 non-null      float64
 31  NUMADULT    0 non-null      float64
 32  CHILDREN    0 non-null      float64
 33  WEIGHT2     0 non-null      float64
 34  DRVISITS    0 non-null      float64
dtypes: category(30), float64(5)
memory usage: 11.4+ KB

          DIABETE3  NUMADULT  CHILDREN  WEIGHT2  DRVISITS
DIABETE3       NaN       NaN       NaN      NaN       NaN
NUMADULT       NaN       NaN       NaN      NaN       NaN
CHILDREN       NaN       NaN       NaN      NaN       NaN
WEIGHT2        NaN       NaN       NaN      NaN       NaN
DRVISITS       NaN       NaN       NaN      NaN       NaN

In [63]:
print(dataNum.isnull().sum())
dataNum['NUMADULT'].fillna(value =dataNum['NUMADULT'].mean())
allData.isnull().sum()

DIABETE3       0
NUMADULT    1760
CHILDREN      12
WEIGHT2       50
DRVISITS    1433
dtype: int64

_RACE         0.0
MSCODE        0.0
FLUSHOT6      0.0
EMPLOY1       0.0
SEX           0.0
MARITAL       0.0
CVDCRHD4      0.0
HLTHCVR1      0.0
CHCKIDNY      0.0
USEEQUIP      0.0
_TOTINDA      0.0
ADDEPEV2      0.0
RENTHOM1      0.0
EXERANY2      0.0
BLIND         0.0
DECIDE        0.0
HLTHPLN1      0.0
DIABETE3.1    0.0
_STATE        0.0
ASTHMA3       0.0
MARITAL.1     0.0
GENHLTH       0.0
_AGEG5YR      0.0
_BMI5CAT      0.0
CHECKUP1      0.0
INCOME2       0.0
_EDUCAG       0.0
SLEPTIM1      0.0
MENTHLTH      0.0
_SMOKER3      0.0
DIABETE3      0.0
NUMADULT      0.0
CHILDREN      0.0
WEIGHT2       0.0
DRVISITS      0.0
dtype: float64